* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    /* font-family: "Inter", sans-serif; */
}

/* Common */
:root {
    --primary-color: #7264d6;
    --second-color: #212832;

    --text-color: #696d76;
    --text-heading-color: #212832;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

input,
select,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    --height: 58px;

    min-width: 149px;
    height: var(--height);
    border-radius: 8px;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    color: #fff;
    line-height: var(--height);
    background-color: var(--second-color);
    user-select: none;
    transition: opacity linear 0.15s;
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    color: var(--text-heading-color);
}

.section-title {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #696d77;
    line-height: 1.75;
}

.section-title::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: currentColor;
}

.section-heading-h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}

.section-heading-h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc {
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.66;
}

/* Phone card */
.phone-card {
    width: 250px;
    position: relative;
    padding: 16px;
    border-radius: 20px;
    background: linear-gradient(76deg, #8679e4 11.52%, #7264d6 70.78%);
    overflow: hidden;
}

.phone-card__main-balance {
    display: flex;
    align-items: center;
    position: relative;
}

.phone-card__main-balance::before,
.phone-card__main-balance-icon-1::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 0;
}

.phone-card__main-balance::before {
    background-color: #feef65;
    right: 0;
}

.phone-card__main-balance-icon-1 {
    position: absolute;
    top: 0;
    right: 16px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fe6565;
    overflow: hidden;
}

.phone-card__main-balance-icon-1::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -16px;
    background-color: #ffb228;
}

.phone-card__main-balance-text {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.phone-card__main-balance-number {
    margin-top: 2px;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3rem;
}

.phone-card-info {
    position: relative;
    z-index: 1;
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    gap: 5px 12px;
}

.phone-card-info__text {
    color: #fff;
}

.phone-card-info__text:nth-child(1),
.phone-card-info__text:nth-child(2) {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4rem;
    text-transform: uppercase;
}

.phone-card-info__text:nth-child(3),
.phone-card-info__text:nth-child(4) {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
}

.phone-card-info__decor {
    position: absolute;
}

.phone-card-info__decor:nth-of-type(1) {
    top: 0;
    left: 0;
}

.phone-card-info__decor:nth-of-type(2) {
    right: 0;
    bottom: 0;
}

/* Phone card Large */
.phone-card--large {
    width: 482px;
    padding: 38px;
}

.phone-card__main-balance--large {
}

.phone-card__main-balance--large::before,
.phone-card__main-balance-icon-1--large::after {
    width: 48px;
    height: 48px;
}

.phone-card__main-balance--large::before {
    background-color: #feef65;
    right: 0;
}

.phone-card__main-balance-icon-1--large {
    right: 32px;
    width: 48px;
    height: 48px;
}

.phone-card__main-balance-icon-1--large::after {
    right: -32px;
}

.phone-card__main-balance-text--large {
    position: relative;
    z-index: 1;
    font-size: 2.4rem;
    line-height: 3.3rem;
}

.phone-card__main-balance-icon-1--large {
}

.phone-card__main-balance-number--large {
    position: relative;
    z-index: 1;
    font-size: 3.2rem;
    line-height: 4.4rem;
}

.phone-card-info--large {
    margin-top: 103px;
    gap: 4px 26px;
}

.phone-card-info__text--large:nth-child(1),
.phone-card-info__text--large:nth-child(4) {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.7rem;
}

.phone-card-info__text--large:nth-child(2),
.phone-card-info__text--large:nth-child(3) {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3rem;
    text-transform: initial;
}

.phone-card-info__decor--large:nth-of-type(1) {
    top: 0;
    left: 0;
}

.phone-card-info__decor--large:nth-of-type(2) {
    right: 0;
    bottom: 0;
}

/* Header */
.header {
    position: sticky;
    top: -34px;
    z-index: 9;
    padding: 42px 0 8px;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
}

.header-wrap {
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    width: 102.68px;
    height: 24px;
}

/* Nav bar */
.nav-bar {
    margin-left: 70px;
}

.nav-bar__list {
    display: flex;
    align-items: center;
    column-gap: 48px;
}

.nav-bar__item {
}

.nav-bar__item-link {
    padding-bottom: 4px;
    color: var(--text-color);
    line-height: 1.75;
}

.nav-bar__item-link:hover,
.nav-bar__item-link--active {
    position: relative;
    color: var(--text-heading-color);
    text-shadow: -0.1px -0.1px 0 currentColor, 0.1px 0.1px 0 currentColor;
}

.nav-bar__item-link:hover::after,
.nav-bar__item-link--active::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 98%;
    height: 1px;
    border-radius: 0.5px;
    background: var(--primary-color);
}

/* Header CTA */
.header-cta {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.header-cta__link {
    color: var(--text-heading-color);
    font-weight: 600;
    line-height: 1.75;
}

.header-cta__btn {
    --height: 52px;
    min-width: 113px;
}

/* Hero */
.hero {
    padding: 68px 0 80px;
}

.hero-wrap {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

/* Hero content */
.hero-content {
}

.hero-content__title {
}

.hero-content__heading {
    margin-top: 12px;
    width: 500px;
}

.hero-content__heading-span {
    color: var(--primary-color);
}

.hero-content__desc {
    margin-top: 20px;
    width: 540px;
}

.form-email__sub {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
    height: 74px;
    padding: 0 8px 0 23px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.form-email__sub--input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.form-email__sub--input::placeholder {
    color: var(--text-color);
    line-height: 1.75;
}

.form-email__sub--btn {
    background-color: var(--primary-color);
    cursor: pointer;
}

.form-email__sub--note {
    margin-top: 20px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

/* Hero media */
.hero-media {
}

/* Phone */
.phone {
    position: relative;
    min-width: 296px;
    padding: 40px 11px 30px;
    border-radius: 40px;
    border: 12px solid var(--second-color);
    background: #fff;
}

.phone::before {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 144px;
    height: 36px;
    border-radius: 0px 0px 18px 18px;
    background: #3c2f60;
}

/* Phone Transactions */
.phone-transactions {
    margin-top: 24px;
}

/* Phone transaction top */
.phone-transaction__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone-transaction__top-title {
    color: #31456a;
    font-weight: 600;
    line-height: 2.2rem;
}

.phone-transaction__top-icons {
    width: 14px;
    height: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.phone-transaction__top-icon {
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background-color: #31456a;
}

.phone-transaction__top-icon:nth-child(2) {
    width: 57.14%;
}

.phone-transaction__top-icon:nth-child(3) {
    width: 28.57%;
}

/* Phone transaction body */
.phone-transaction__body {
}

.phone-transaction__history {
    margin-top: 28px;
    display: flex;
    align-items: center;
}

.phone-transaction__history-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 14px;
    border-radius: 8px;
    background-color: #edf8fc;
}

.phone-transaction__history:nth-child(2) .phone-transaction__history-media {
    background-color: #fbefef;
}

.phone-transaction__history:nth-child(3) .phone-transaction__history-media {
    background-color: #ecf5f4;
}

.phone-transaction__history:nth-child(4) .phone-transaction__history-media {
    background-color: #f1effb;
}

.phone-transaction__history-media-icon {
}

.phone-transaction__history-content {
    flex-grow: 1;
}

.phone-transaction__history-content-row {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.phone-transaction__history-content-row:nth-child(1) {
    color: var(--text-heading-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.phone-transaction__history-content-row:nth-child(2) {
    margin-top: 6px;
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1;
}

/* Phone card transaction Large */
.phone-transaction__history--large {
    position: absolute;
    top: -48px;
    right: -88px;
    width: 276px;
    margin-top: 0;
    padding: 23px 13px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.phone-transaction__history-media--large {
}

.phone-transaction__history-media-icon--large {
}

.phone-transaction__history-content--large {
}

.phone-transaction__history-content-row--large {
}

.phone-transaction__history-content-type--large {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.phone-transaction__history-content-numb--large {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 400;
}

.phone-transaction__history-content-row--large {
}

.phone-transaction__history-content-sub-type--large {
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.2rem;
}

.phone-transaction__history-content-date--large {
    font-family: Inter;
    font-size: 1rem;
    line-height: 1.2rem;
}

/* Phone Deposite */
.phone-deposite {
    position: absolute;
    top: 100px;
    left: -112px;
    width: 174px;
    padding: 14px 10px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.phone-deposite__image {
}

.phone-deposite__title {
    margin-left: 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.phone-deposite__numb {
    margin-left: auto;
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1;
}

/* Phone Interest */
.phone-interest {
    position: absolute;
    top: 115px;
    right: -186px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #da6464;

    color: #fff;
}

.phone-interest__numb {
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 6rem;
}

.phone-interest__title {
    line-height: 2.2rem;
}

/* Phone SECURED */
.phone-secured {
    position: absolute;
    bottom: 49px;
    right: -86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 124px;
    padding: 20px 15px 21px 14px;
    border-radius: 10px;
    background: #439f90;
}

.phone-secured__icon {
}

.phone-secured__content {
    color: #fff;
}

.phone-secured__content-numb {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.phone-secured__content-title {
    margin-top: 5px;
    font-size: 0.8rem;
    line-height: 1;
}

/* Works */
.works {
    padding: 80px 0;
}

.works-wrap {
    display: flex;
    align-items: center;
    column-gap: 230px;
}

/* Works media */
.works-media {
    max-width: 470px;

    position: relative;
}

.works-media__image {
    display: flex;
    align-items: center;
    padding: 0 7px;
    border-radius: 30px;
    background: url(../img/works-media-02.svg) no-repeat;
    background-position: left bottom;
    background-size: 100%;
}

.works-media__image-img {
    width: 100%;
    vertical-align: bottom;
}

.works-media__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 55px;
    top: 76px;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background-color: var(--primary-color);
}

.works-media__logo::before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
}

.works-media__logo-img {
    position: relative;
    z-index: 1;
}

.works-media__check {
    position: absolute;
    right: -100px;
    bottom: 96px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 226px;
    padding: 15px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.works-media__check-icon-wrap {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #4ab5e3;
}

.works-media__check-icon-wrap::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}

.works-media__check-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

.works-media__check-content {
}

.works-media__check-content-title {
    color: var(--text-heading-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7rem;
}

.works-media__check-content-desc {
    margin-top: 5px;
    color: var(--text-color);
    font-family: Inter;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

/* Works content */
.works-content {
}

.works-content__title {
}

.works-content__heading {
    margin-top: 12px;
}

.works-content__list {
    margin-top: 70px;
}

.works-content__item {
    margin-top: 30px;
}

.works-content__item-heading {
    color: var(--text-heading-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.works-content__item-desc {
    margin-top: 16px;
    color: var(--text-color);
    line-height: 1.75;
}

/* One card */
.one-card,
.transfer {
    padding: 80px 0;
}

.one-card-wrap,
.transfer-wrap {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.transfer-wrap {
    flex-direction: row-reverse;
}

/* One card content */
.one-card-content,
.transfer-content {
    width: 470px;
    flex-shrink: 0;
}

.one-card-content__title {
}

.one-card-content__heading,
.transfer-content__heading {
    margin-top: 12px;
}

.one-card-content__desc,
.transfer-content__desc {
    margin-top: 20px;
}

.one-card-content__list,
.transfer-content__list {
    margin-top: 28px;
}

.one-card-content__item,
.transfer-content__item {
    position: relative;
    margin-top: 18px;
    padding-left: 24px;
    color: var(--text-heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.one-card-content__item::before,
.transfer-content__item::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.one-card-content__cta,
.transfer-content__cta {
    margin-top: 38px;
}

/* One card media */
.one-card-media {
    position: relative;
}

/* One card invoice */
.one-card-media__invoice {
    position: absolute;
    right: -88px;
    bottom: -55px;
    width: 120px;
    padding: 15px;
    border-radius: 16px;
    color: #fff;
    background: #439f90;
}

.one-card-media__icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-color: #fff;
}

.one-card-media__icon {
    width: 14.28px;
    height: 14.28px;
}

.one-card-media__invoice-title {
    margin-top: 14px;

    font-size: 1.2rem;
    line-height: 1.6rem;
}

.one-card-media__invoice-numb {
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.5rem;
}

/* Transfer */
/* Transfer Content = One card content */
/* Transfer media */
.transfer-media {
    position: relative;
    width: 470px;
    margin-right: auto;
}

/* Transfer media image */
.transfer-media__image {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    padding: 0 28px 0 29px;
    background: url(../img/transfer-media-bg.svg) no-repeat;
    background-position: left bottom;
    background-size: 100% 71%;
}

/* .transfer-media__image::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: url(../img/transfer-media-bg.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 71%;
} */

.transfer-media__img {
    position: relative;
    z-index: 1;
    width: 100%;
}

/* Transfer media decor */
.transfer-media__decor {
    position: absolute;
    right: -100px;
    bottom: 222px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.transfer-media__decor-icon {
}

/* Transfer media payment */
.transfer-media__payment {
    position: absolute;
    right: -74px;
    bottom: 57px;
    z-index: 1;
    width: 281px;
    padding: 28px;
    border-radius: 10px;
    background-color: #fff;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.transfer-media__payment-title {
    color: var(--text-heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.transfer-media__payment-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.transfer-media__payment-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background-color: #f2f2fa;
}

.transfer-media__payment-item:nth-last-child(1) {
    background-color: #f9ea63;
}

.transfer-media__payment-item-icon {
}

/* Clients Says */
.clients {
    padding: 80px 0;
}

.clients-wrap {
}

/* Clients top */
.clients-top {
    text-align: center;
}

.clients-title {
    display: inline-flex;
}

.clients-heading {
    margin-top: 12px;
}

.clients-desc {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 435px;
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

/* Clients body */
.clients-body {
    margin-top: 70px;
}

.clients-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;
    overflow: clip;
    overflow-clip-margin: 28px;
}

.clients-item {
    text-align: center;
}

.clients-item__quote-wrap {
    position: relative;
    padding-bottom: 60px;
}

.clients-item__quote {
    width: 570px;
    padding: 42px 28px;
    border-radius: 8px;
    background-color: #fff;
    filter: drop-shadow(1px 1px 0 #ccc) drop-shadow(-1px -1px 0 #ccc);

    color: var(--text-color);
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.54;
    cursor: pointer;

    transition: filter linear 0.15s;
}

.clients-item__quote::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
    width: 94px;
    height: 94px;
    border-radius: 4px;
    background-color: #fff;
    rotate: 45deg;
    transform-origin: left center;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.clients-item:hover .clients-item__quote {
    filter: drop-shadow(0px 22px 24px rgba(0, 0, 0, 0.07));
}

.clients-item__quote-info {
    cursor: pointer;
}

.clients-item__avatar-wrap {
    display: inline-block;
    margin-top: 36px;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background-color: #4ab5e3;
    overflow: hidden;
}

.clients-item:nth-child(even) .clients-item__avatar-wrap {
    background-color: #439f90;
}

.clients-item__avatar {
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clients-item__name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.clients-item__business {
    margin-top: 2px;
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.66;
}

/* Clients pagination */
.clients-pagination {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.clients-pagination__item {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
    transition: border-color, background-color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    cursor: pointer;
}

.clients-pagination__item--active,
.clients-pagination__item:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

/* Blog */
.blog {
    padding: 80px 0;
}

.blog-wrap {
}

/* Blog top */
.blog-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-top__content {
    max-width: 435px;
}

.blog-top__title {
}

.blog-top__heading {
    margin-top: 6px;
}

.blog-top__desc {
    margin-top: 18px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.blog-top__cta {
    min-width: 123px;
}

/* Blog list */
.blog-list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* Blog item */
.blog-item {
    display: flex;
    align-items: center;
    column-gap: 22px;
    width: 100%;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
    transition: border-color, box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

.blog-item:hover {
    border-color: #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog-item__thumb-wrap {
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    border-radius: 12px;
    overflow: hidden;
}

.blog-item__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: scale linear 0.15s;
}

.blog-item:hover .blog-item__thumb {
    scale: 1.1;
}

.blog-item__info {
}

.blog-item__date {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.blog-item__heading {
    margin-top: 10px;
    color: var(--text-heading-color);
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.blog-item__more {
    display: inline-block;
    margin-top: 20px;
    color: var(--text-color);
    line-height: 1.62;
    transition: color linear 0.15s;
}

.blog-item:hover .blog-item__more {
    color: var(--primary-color);
}
